.btn {
  background-color: $green;
  border: none;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  cursor: pointer;

  font-family: 'Montserrat';
  font-size: 1.4rem;
  font-weight: 700;
  color: $white;

  transition: .5s ease;
}

.btn:hover {
  background-color: $green-dark;
}