.product {
  display: flex;

  width: 100%;
  max-width: 60rem;

  background-color: $white;
  border-radius: 1rem;

  @include responsive(s) {
    flex-direction: column;
  }

  @include responsive(xs) {
    flex-direction: column;
  }

  .picture {
    img {
      background-size: cover;
      border-radius: 1rem 0 0 1rem;

      @include responsive(s) {
        border-radius: 1rem 1rem 0 0;
      }

      @include responsive(xs) {
        border-radius: 1rem 1rem 0 0;
      }
    }
  }

  .content {
    max-width: 30rem;
    padding: 3.2rem;

    @include responsive(s) {
      max-width: 100%;
    }

    @include responsive(xs) {
      max-width: 100%;
      padding: 2.4rem;
    }

    .subtitle {
      display: block;
      @include type-2(1.2rem);
      color: $blue-light;
      text-transform: uppercase;
      letter-spacing: .5rem;
      margin-bottom: 2rem;

      @include responsive(s) {
        margin-bottom: 1.2rem;
      }

      @include responsive(xs) {
        margin-bottom: 1.2rem;
      }
    }

    .title {
      @include type-1(3.2rem);
      color: $blue;
      margin-bottom: 2.4rem;

      @include responsive(s) {
        margin-bottom: 1.6rem;
      }

      @include responsive(xs) {
        margin-bottom: 1.6rem;
      }
    }

    .desc {
      @include type-2(1.4rem);
      color: $blue-light;
      line-height: 2.3rem;
      margin-bottom: 2.9rem;

      @include responsive(s) {
        margin-bottom: 2.4rem;
      }

      @include responsive(xs) {
        margin-bottom: 2.4rem;
      }
    }

    .price {
      display: flex;
      align-items: center;
      gap: 1.9rem;
      margin-bottom: 3rem;

      @include responsive(s) {
        margin-bottom: 2rem;
      }

      @include responsive(xs) {
        margin-bottom: 2rem;
      }

      p {
        @include type-1(3.2rem);
        color: $green;
      }

      span {
        display: block;
        @include type-2(1.3rem);
        color: $blue-light;
        text-decoration: line-through;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;

      img {
        width: 1.5rem;
      }
    }
  }
}
